.menu-button {
    display: none;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;

    :nth-child(2) {
        grid-column-start: 1;
    }
}

.menu-link {
    padding: 17% 0;
    font-size: $fontSizeLarge;
}

.large-hide {
    display: none;
    width: 1px;
}

.boundary {
    max-width: 900px;
    margin: 0 auto;
}

.small-boundary {
    max-width: 700px;
}

.solidworks-boundary {
    width: 88%;
    height: auto;
}

.top-grid {
    display: grid;
    grid-template-columns: 55% 45%;
}

.certifications {
    max-width: 700px;
    margin: $paddingLarge auto;
}

.cert {
    width: 20%;
}

.left-button, .right-button {
    padding-top: 22%;
    width: 8%;
}

//FULL SCREEN IMAGES
.full-screen {
    img {
        width: auto;
        height: 90vh;
    }
}

//Small Icon Layout
.small-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: bottom;
}

.row-2 {
    grid-row-start: 2;
}

.row-4 {
    grid-row-start: 4;
}


//Medium Icon Layout
.medium-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-items: bottom;

.autocad-drawing:hover {
        box-shadow: 1px 1px 10px $color3;
    }
}

//eDrawings on Solidworks page
.eDrawing {
    width: 100%;
    height: auto;
}

.align-bottom-cell {
    align-self: end;
}

iframe.handle, iframe.valve {
    height: 80vh;
}

#valveVideo {
    max-width: 75%;
    height: 80vh;
}

//CONTACT page
.myPhoto {
    width: 180px;
    height: auto;
}

.contact-info {
    width: 700px;
    padding: $paddingSmall;

    p {
        font-size: 20px;
    }
}

//FOOTER 
footer {
    padding-left: none;
}