.menu-button {
    display: none;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;

    :nth-child(2) {
        grid-column-start: 1;
    }
}

.menu-link {
    padding: 17% 0;
    font-size: $fontSizeLarge;
}

.large-hide {
    display: none;
    width: 1px;
}

.boundary {
    max-width: 900px;
    margin: 0 auto;
}

.solidworks-boundary {
    width: 88%;
    height: auto;
}

.top-grid {
    display: grid;
    grid-template-columns: 55% 45%;
}

.certifications {
    max-width: 700px;
    margin: 0 auto;
}

.cert {
    width: 20%;
}

.left-button, .right-button {
    padding-top: 22%;
}

//FULL SCREEN IMAGES
.full-screen {
    img {
        height: 90%;
        width: auto;
    }
}

//Small Icon Layout
.small-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: bottom;
}

.row-2 {
    grid-row-start: 2;
}

.row-4 {
    grid-row-start: 4;
}

//eDrawings
.eDrawing {
    width: 100%;
    height: auto;
}

.align-bottom-cell {
    align-self: end;
}

iframe.handle, iframe.valve {
    height: 80vh;
}

#valveVideo {
    max-width: 75%;
    height: 80vh;
}