.menu-button {
    display: none;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}

.menu-link {
    padding: 17% 0;
    font-size: $fontSizeLarge;
}

.boundary {
    max-width: 900px;
    margin: 0 auto;
}

.top-grid {
    display: grid;
    grid-template-columns: 55% 45%;
}

.certifications {
    max-width: 700px;
    margin: 0 auto;
}

.cert {
    width: 20%;
}

.left-button, .right-button {
    padding-top: 22%;
}