body {
    background-color: $color2;
}

/*-----------
     NAV
------------*/
nav, footer {
    background-color: $color1;
}

.name {
    color: $color2;
    margin: 0;
    font-family: $fontSans;
    font-weight: 400;
    font-size: $fontSize * 3;
    padding: $paddingSmall;
}

.link-on-dark {
    color: $color2;
    text-decoration: none;
}

.toggle {
    display: none;
}

.menu-button {
    margin: 0;
    color: $color2;
    background-color: $color1;
    border: none;
    width: 100%;
    padding: $paddingSmall;
}

.menu-button:hover {
    background-color: lighten($color1, 10%);
}

.menu-button, .menu {
    font-family: $fontSans;
    font-weight: 700;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-link {
    text-align: center;
    padding-top: $paddingSmall;
    padding-bottom: $paddingSmall;
}

.menu-link:hover {
    background-color: lighten($color1, 10%);
}

.menu-link:active {
    background-color: $color3;
    color: $color1;
}

.background1, .background3 {
    background-color: lighten($color1, 20%);
    height: 50vw;
    max-height: 415px;
}

h2 {
    color: $color2;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $fontSans;
    font-weight: 400;
    padding: $paddingLarge $paddingSmall;
}

.placeholder {
    background-color: white;
    border: solid black 1px;
    box-shadow: 3px 3px 8px $color3;
    height: 50vw;
    width: 80vw;
    margin: 0 auto 3vw auto;
    max-width: 700px;
    display: flex;
    max-height: 400px;
}

.background2 {
    background-color: $color2;
    border: solid $color2 1vw;
}

.about {
    list-style-type: square;

    li {
        padding: .2em;
    }
}

.certifications {
    text-align: center;
    margin: 0 auto;
}

.cert {
    width: 30%;
    border-radius: 15px;
    box-shadow: 3px 3px 5px $color3;
    margin: 1em;
}


//AutoCAD styling
.drawing-toggle {
    display: flex;
    margin: auto;
    padding: $paddingSmall;
}

.autocad {
    width: 80%;
    border: solid 1px $color4;
}

.left-button, .right-button {
    width: 8%;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    background-color: $color3;
    color: lighten($color3, 50%);
    padding-top: 20%;
}

.left-button:hover, .right-button:hover {
    background-color: darken($color3, 30%);
    color: lighten($color3, 20%);
}