body {
    background-color: $color3;
}

/*-----------
     NAV
------------*/
nav, footer {
    background-color: $color1;
}

.name {
    color: $color2;
    margin: 0;
    font-family: $fontSans;
    font-weight: 400;
    font-size: $fontSize * 3;
    padding: $paddingSmall;
}

.link-on-dark {
    color: $color2;
    text-decoration: none;
}

.toggle {
    display: none;
}

.menu-button {
    margin: 0;
    color: $color2;
    background-color: $color1;
    border: none;
    width: 100%;
    padding: $paddingSmall;
}

.menu-button:hover {
    background-color: lighten($color1, 10%);
}

.menu-button, .menu {
    font-family: $fontSans;
    font-weight: 700;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-link {
    text-align: center;
    padding-top: $paddingSmall;
    padding-bottom: $paddingSmall;
}

.menu-link:hover {
    background-color: lighten($color1, 10%);
}

.menu-link:active {
    background-color: $color3;
    color: $color1;
}


//Nav for contact page (overriding the built in properties that come with the form)
#myNav {
    .name {
        color: $color2;
        margin: 0;
        font-family: $fontSans;
        font-weight: 400;
        font-size: $fontSize * 3;
        padding: $paddingSmall;
    }
    
    .link-on-dark {
        color: $color2;
        text-decoration: none;
    }
    
    .toggle {
        display: none;
    }
    
    .menu-button {
        margin: 0;
        color: $color2;
        background-color: $color1;
        border: none;
        width: 100%;
        padding: $paddingSmall;
    }
    
    .menu-button:hover {
        background-color: lighten($color1, 10%);
    }
    
    .menu-button, .menu {
        font-family: $fontSans;
        font-weight: 700;
    }
    
    .menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .menu-link {
        text-align: center;
        padding-top: $paddingSmall;
        padding-bottom: $paddingSmall;
    }
    
    .menu-link:hover {
        background-color: lighten($color1, 10%);
    }
    
    .menu-link:active {
        background-color: $color3;
        color: $color1;
    }
}

/*-------------
Background and General
-------------*/

.background1, .background3 {
    background-color: lighten($color1, 5%);
}

.background1 {
    height: 50vw;
    max-height: 415px;
}

.background1-short {
    background-color: lighten($color1, 5%);
    height: 35vw;
    max-height: 315px;
}

.background1-tiny {
    background-color: lighten($color1, 5%);
}

.background3 {
    padding: $paddingSmall;
    padding-top: $paddingLarge;
}

h2 {
    color: $color2;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $fontSans;
    font-weight: 400;
    padding: $paddingLarge $paddingSmall;
}

.placeholder {
    background-color: white;
    border: solid black 1px;
    box-shadow: 3px 3px 8px $color3;
    height: 50vw;
    width: 80vw;
    margin: 0 auto 3vw auto;
    max-width: 700px;
    display: flex;
    max-height: 400px;
}

/*---------
Middle Area (Background2)
---------*/
.background2 {
    background-color: $color3;
    margin: 0;
}

.about {
    list-style-type: square;

    li {
        padding: .2em;
    }
}

.certifications {
    text-align: center;
    margin: 0 auto;
}

.cert {
    width: 30%;
    border-radius: 15px;
    box-shadow: 3px 3px 5px $color3;
    margin: 1em;
}


/*---------
AutoCAD page styling and some Solidworks Page
---------*/
.drawing-toggle {
    display: flex;
    margin: auto;
    margin-bottom: 0;
    padding: 0 $paddingSmall;
}

.house {
    padding-top: 3em;
}

.autocad, .solidworks {
    width: 100%;
}

.autocad-drawing, .solidworks-drawing {
    width: 100%;
}

.autocad-drawing:hover, .solidworks-drawing:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px black;;
}

.left-button, .right-button {
    width: 12%;
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    background-color: darken($color3, 40%);
    color: $color2;
    padding-top: 20%;
}

.left-button:hover, .right-button:hover {
    background-color: darken($color1, 5%);
}

.description {
    font-family: $fontSans;
    text-align: center;
    font-weight: 800;
    padding: $paddingSmall;
    color: $color1;
}

.description-light {
    color: $color2;
    text-align: center;
    font-family: $fontSans;
    font-weight: 500;
    transform: scale(1.15);
}

.list-images {
    display: block;
    margin: auto;
    margin-top: 3em;
    width: 85%;
}

video {
    display: block;
    margin: auto;
    padding: 2px;
    background-color: white;
    width: 85%;
    height: auto;
    box-shadow: 3px 3px 7px gray;
    border: 1px solid $color5;
    margin-bottom: 3em;
}

//FULL SCREEN OPTION
.full-screen {
    img {
        width: 90%;
        height: auto;
        display: block;
        margin: 2em auto;
    }

    background-color: rgba(32, 75, 87, .7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
}

//eDrawing on SOLIDWORKS page
.eDrawing {
    display: block;
    margin: auto;
    margin-top: 3em;
    width: 95%;
    height: auto;
}

.eDrawing:hover {
    cursor: pointer;
    box-shadow: 3px 3px 7px black;
}

img.hide, iframe.hide {
    display: none;
}

#valveVideo {
    height: 50vh;
}

.handle, .valve {
    display: block;
    margin: 2em auto;
    margin-bottom: 0;
    width: 90%;
    height: auto;
}

.handleDrawing, .valveDrawing {
    height: 60vh;
}

//for explode valve video
.video-link:hover {
    color: lighten($color1, 10%);
    transform: scale(1.15);
    text-decoration: underline;
    cursor: pointer;
}

//footer
.footer {
    margin: auto;
    padding: 10px $paddingLarge;
    padding-left: $paddingSmall;
    width: 100%;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    color: $color2;
    font-family: $fontSans;
}

.right {
    padding-right: $paddingLarge;
}

.contact-footer {
    position: absolute;
    bottom: 0;
    border-top: solid 50px lighten($color1, 5%);
}

/*---------
CONTACT ME
---------*/

.contactMe {
    width: 95%;
    padding: $paddingSmall 0px;
    margin: auto;
}

.btn-color {
    background-color: $color1;
    color: $color2;
}

.btn-color:hover {
    background-color: lighten($color1, 30%);
}